.cta_row {
  background-color: #a0a0a0;
  color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: $radius;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 4em;

  a {
    font-weight: bold;
    color: #fff;
  }

  @media only screen and (max-width: 768px) {
    font-size: 1em;
  }
}