.especial {
  color: #a0a0a0;
  @media only screen and (min-width: 820px) and (max-width: 1170px) {
    font-size: calc(.2em + 1vw);
  }

  @media only screen and (min-width: 768px) and (max-width: 820px) {
    font-size: calc(.25em + 1vw);
  }

  @media only screen and (max-width: 820px) {
    font-size: .8em;
  }

  &__title {
    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-weight: bold;
    color: $theme-color;
    font-size: 3em;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__container {
    background-color: $light-bg;
    border-radius: $radius;
    padding: 2em;

    @media only screen and (max-width: 820px) {
      padding: 1em;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  &__numero {
    font-family: "Roboto Condensed", Roboto, sans-serif;
    font-weight: bold;
    line-height: .85;

    &--head {
      font-size: .65em;
      display: block;
    }

    &--bigger {
      font-size: 1em;
    }

    &--num {
      font-size: 7em;
      letter-spacing: -.05em;
    }
  }

  &__text {
    border-top: 2px solid $gray-dark;
    margin-top: 1em;
    font-weight: bold;
    padding-top: 0.5em;
    line-height: 1;

    &--first {
      display: block;
      font-size: 1.8em;
      color: #b5b5b5;
    }

    &--en_el_home {
      font-size: 2.4em;
    }

    &--paginas_internas {
      font-size: 1.5em;
    }

    &--en_el_newsletter {
      font-size: 1.5em;
    }

    &--small {
      font-family: "Roboto Condensed", Roboto, sans-serif;
      font-size: .85em;
      margin-left: 1em;
    }
  }

  &__btn_container {
    margin: 2em 0;
  }

  &__btn__title {
    @extend .paute_type__btn__title
  }

  &__btn {
    @extend .paute_type__btn
  }
}