.title {
  margin: 2em 0;

  &__dash {
    height: 4px;
    width: 2.5em;
    background-color: $theme-color;
    display: block;
  }

  &__text {
    color: $gray-base;
    margin-bottom: 0.2em;
  }

  &__description {
    margin-top: 0;
    font-weight: lighter;
    max-width: 30em;
  }
}